27 lines (25 sloc)  852 Bytes
  
{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_repositorio/{{repositorio.0}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" value="{{repositorio.1}}" name="Nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}